#accommodation {
  color: $color-white;

  background: $color-blue url("../images/bg_accomodation.jpg") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;

  a {
    color: $color-white;

    .hover {
      color: $color-white;
    }
  }

  .title {

    .svg-icon {
      float: left;
      transform: rotate(234deg) translateZ(0);

      svg {
        fill: $color-white;
      }
    }

    span {
      font-weight: bold;
      font-size: $font-size-section-title;
      line-height: 1em;
      padding-top: 75px;
      padding-left: 40px;
      display: block;
    }
  }

  .col-title {
    text-align: center;
    font-family: $font-sacramento;
    font-size: $font-size-col-title;
  }

  .websites {
    margin-top: $margin-medium;
    margin-bottom: $margin-large;

    .website {
      margin-top: $margin-medium;
      margin-bottom: $margin-medium;
    }
  }

  .hotels {
    a {
      font-style: italic;
    }
    color: $color-white;

    .hotel {
      margin-bottom: $margin-large;

      svg {
        fill: $color-yellow;
      }

      .hotel-title {
        font-family: $font-sacramento;
        font-size: $font-size-col-title;
        color: $color-white;
      }

      .hotel-links {
        margin-top: 5px;

        a.trivago {
          margin-left: 10px;
        }
      }
    }
  }

}