#info {
  background-color: rgba(255, 255, 255, 0.85);

  .title {

    .svg-icon {
      float: left;
      transform: rotate(234deg) translateZ(0);

      svg {
        fill: $color-green;
      }
    }

    span.title1 {
      color: $color-light-blue;
      font-weight: bold;
      font-size: $font-size-section-title;
      line-height: 1em;
      padding-top: 75px;
      padding-left: 40px;
      display: block;
    }

    span.title2 {
      color: $color-green;
      font-weight: bold;
      font-size: $font-size-section-title;
      line-height: 1em;
      padding-left: 40px;
      display: block;
    }
  }

  .col-when, .col-where {

    .col-title {
      margin-bottom: $margin-medium;

      .icon {
        margin-right: 20px;
      }

      .subtitle {
        font-family: $font-sacramento;
        font-size: $font-size-col-title;
      }
    }
  }

  .col-when {
    color: $color-light-blue;

    svg {
      fill: $color-green;
    }
  }

  .col-where {
    color: $color-green;

    svg {
      fill: $color-light-blue;
    }
  }
}