body {
  background: $color-blue url("../images/bg_sea.jpg") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: $font-raleway;
  font-size: $font-size-text;
  margin: 0;
  padding-top: 70px;
}

#video-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: transparent url("../images/bg_sea.jpg") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: 1s opacity;
}

.bold {
  font-weight: 700;
}

section {

  .container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .title {
    margin-bottom: $margin-after-section-title;
    word-wrap: break-word;
  }

}

.box-shadow {
  display: block;
  -webkit-box-shadow: 0 0 20px 2px #777;
  -moz-box-shadow: 0 0 20px 2px #777;
  box-shadow: 0 0 20px 2px #777;
}
