#trip {
  background-color: #CCC;
  position: relative;

  .earth {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0.7;
  }

  .dashed-line {
    position: absolute;

    stroke-dasharray: 687px;
    stroke-dashoffset: 687px;

    &.dashed-line-animation {
      -webkit-animation: dash 3s linear forwards;
      -moz-animation: dash 3s linear forwards;
      animation: dash 3s linear forwards;
    }
  }

  .modal {
    position: absolute !important;
    opacity: 0.8;

    .modal-body {
      overflow-y: auto;

      p {
        color: $color-light-blue;
      }

      img {
        opacity: 1 !important;

        -webkit-box-shadow: 2px 2px 10px 2px rgba(170, 170, 170, 1);
        -moz-box-shadow: 2px 2px 10px 2px rgba(170, 170, 170, 1);
        box-shadow: 2px 2px 10px 2px rgba(170, 170, 170, 1);
      }
    }
  }

  .modal-backdrop {
    position: absolute !important;
    opacity: 0.2 !important;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}