#visit {
  color: $color-light-blue;

  background: $color-white url("../images/bg_visit.jpg") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;

  .title {

    .svg-icon {
      float: left;
      transform: rotate(234deg) translateZ(0);

      svg {
        fill: $color-light-blue;
      }
    }

    span {
      font-weight: bold;
      line-height: 1em;
      padding-top: 75px;
      padding-left: 40px;
      display: block;
    }
  }

  .col-title {
    font-family: $font-sacramento;
    font-size: $font-size-col-title;
    margin-bottom: $margin-large;
  }

  h3 {
    font-family: $font-sacramento;
    font-size: $font-size-col-subtitle;
    font-weight: 700;
  }

}