$font-raleway: 'Raleway', sans-serif;
$font-sacramento: 'Sacramento', cursive, 'Helvetica', sans-serif;

$color-white: #FFFFFF;
$color-dark-blue: #234070;
$color-blue: #234070;
//$color-light-blue: #5274AC;
$color-light-blue: #234070;
$color-green: #8FC9B8;
$color-yellow: #EBC52A;

$font-size-col-title: 2.5em;
$font-size-col-subtitle: 2.0em;
$font-size-text: 1.7em;

$media-xs-max-width: 767px;
$media-sm-min-width: 768px;

@media (max-width: $media-xs-max-width) {
  .title {

    span, span.title1, span.title2 {
      padding-top: 0 !important;
      padding-left: 0 !important;
      font-size: 2.5em;
    }
  }
}

@media (min-width: $media-sm-min-width) {
  .title {
    span, span.title1, span.title2 {
      font-size: 5em;
    }
  }
}

$margin-large: 50px;
$margin-medium: 25px;
$margin-small: 10px;
$margin-after-section-title: 70px;

// bootstrap override
.navbar {
  min-height: 70px;
}

.navbar-toggle {
  margin-top: 18px;
}

p {
  margin: 0 0 25px;
}

#home-footer {
  background-color: rgba(255, 255, 255, 0.85);
  padding-bottom: $margin-large;
}

#alert-ie {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  z-index: 9999;

  .alert {
    margin: auto;
    width: 90%;
  }

}

// ---

@import 'nav';
@import 'header';
@import 'info';
@import 'trip';
@import 'carousel';
@import 'access';
@import 'accommodation';
@import 'visit';
@import 'map';
@import 'rsvp';
@import 'main';
@import 'flipclock';